{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Musician Name</th>
        <th scope="col">Musician Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>

        {% for dt in data %}
        <tr>
            <th scope="row">{{dt.id}}</th>
            <td><a href="{% url "edit_details" dt.id%}" class="">{{dt.musician.first_name}} {{dt.musician.last_name}}</a></td>
            <td>{{dt.musician.email}}</td>
            <td>{{dt.Rating}}</td>
            <td>{{dt.musician.instrument}}</td>
            <td>{{dt.name}}</td>
            <td>{{dt.release_date}}</td>
            <td><a href="{% url "edit_post" dt.id %}" class="btn btn-warning">Edit</a>
              <a href="{% url "delete_post" dt.id%}" class="btn btn-danger">Delete</a> </td>
          </tr>
          
        {% endfor %}
      
    </tbody>
  </table>
{% endblock %}